.fw-black{
    font-weight: 900;
}

.text-gray-400{
    color: $primary-400;
}

.text-noto-serif{
    font-family: "Noto Serif TC", serif;
    
}

.text-space-1{
    letter-spacing: 0.1em;
}

.text-space-2{
    letter-spacing: 0.05em;
}
